version: "3.9"

services:
  backend-service:
    build: ./backend/auth_micro_service
    container_name: auth-service
    ports:
      - "8080:8080"
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
