apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: rental-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
      - name: payment-service
        image: abde142/payment-service:latest
        ports:
        - containerPort: 8084
        env:
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://db-payment:3306/payment_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true"
        - name: SPRING_DATASOURCE_USERNAME
          value: "root"
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: MYSQL_ROOT_PASSWORD
        - name: SPRING_RABBITMQ_HOST
          value: "rabbitmq"
        - name: SPRING_RABBITMQ_PORT
          value: "5672"
        - name: SPRING_RABBITMQ_USERNAME
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: RABBITMQ_USER
        - name: SPRING_RABBITMQ_PASSWORD
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: RABBITMQ_PASSWORD
        - name: WEB3_RPC_URL
          value: "http://blockchain:8545"
        - name: WEB3_CONTRACT_ADDRESS
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: WEB3_CONTRACT_ADDRESS
        - name: WEB3_PRIVATE_KEY
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: WEB3_PRIVATE_KEY
        - name: RABBITMQ_EXCHANGE
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: PAYMENT_EXCHANGE
        - name: RABBITMQ_ROUTING_KEY_CONFIRMED
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: PAYMENT_ROUTING_KEY_CONFIRMED
        - name: RABBITMQ_ROUTING_KEY_FAILED
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: PAYMENT_ROUTING_KEY_FAILED
        - name: SERVER_PORT
          value: "8084"
        - name: JAVA_OPTS
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: JAVA_OPTS
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /payments/health
            port: 8084
          initialDelaySeconds: 60
          periodSeconds: 30
          timeoutSeconds: 10
          failureThreshold: 5
        readinessProbe:
          httpGet:
            path: /payments/health
            port: 8084
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 5
---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: rental-app
spec:
  selector:
    app: payment-service
  ports:
  - port: 8084
    targetPort: 8084
  type: ClusterIP